.Dropdown {
	position: relative;
	width: 100%;
    border: 1px solid rgba(246, 251, 253, 0.28);
	border-radius: 4px;
}

.DropdownOptionsContainer {
	position: absolute;
	width: 100%;
	z-index: 100;
	top: 42px;
	left: 0;
	border-radius: 4px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.35);
	overflow: auto;
}
.DropdownOptions {
	list-style: none;
	margin: 0;
	max-height: 120px;
	border-radius: 4px;
	overflow: auto;
	background-color: #2c343a;
	padding: 5px 0;
	border-radius: 4px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.13);
}
.DropdownOption {
	display: block;
	padding: 3px 15px;
	line-height: 18px;
	font-size: 13px;
	color: #fff;
	white-space: nowrap;
	min-width: 80px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.DropdownOption:hover {
	text-decoration: none;
	color: #fff;
	background-color: #0081CC;
	transition: background-color 0.1s ease, color 0.1s ease;
}
.DropdownSelected {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: 40px;
	padding-left: 12px;
	padding-right: 10px;
	/* background: #2c343a; */
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;

}
.DropdownSelected.open {
	border: 1px solid #0081CC;
}
.DropdownSelected.open.Small {
	background: #16191C;
	border:none
}
.DropdownOptionsAnimationEnter {
	opacity: 0;
}
.DropdownOptionsAnimationEnterActive {
	opacity: 1;
	transition: opacity 0.1s ease;
}
.DropdownOptionsAnimationExit {
	opacity: 1;
}
.DropdownOptionsAnimationExitActive {
	opacity: 0;
	transition: height 0.1s ease;
}
.Rotate {
	transform: rotate(180deg);
}
.Icon {
	width: 7px;
	min-width: 7px;
	height: 20px;
	background-image: url(/assets/icons/chevron.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.3s ease;
}
.Icon.Rotate {
	transform: rotateZ(180deg);
}
.Delimeter {
	margin: 8px 0;
	height: 1px;
	width:100%;
	background: #FFFFFF;
	opacity: 0.1;
}

