.DistributionChart {
  margin-bottom: 60px;

  background-color: var(--color-bg-secondary);

  &__Percentiles {
    &__Text {
      font-size: var(--size-text-xs);
      fill: var(--color-typo-primary);
    }
  }

  &__ProjectionLines {
    opacity: 0.3;
    fill: none;
    stroke: var(--color-typo-warning);
    stroke-width: 1;
  }

  &__Grid {
    line {
      stroke: var(--color-control-typo-primary);
      stroke-dasharray: 1, 3;
      stroke-width: 1;
      stroke-opacity: 0.1;
      stroke-linecap: round;
    }

    text {
      font-size: var(--size-text-xs);

      color: var(--color-typo-secondary);

      transform: translateY(10px);
    }

    path {
      stroke-width: 0;
    }
  }

  &__Axis {
    fill: none;

    .domain {
      stroke: var(--color-control-bg-border-default);
    }

    line {
      stroke: var(--color-control-bg-border-default);
    }

    text {
      font-size: var(--size-text-xs);
      line-height: var(--line-height-text-xs);
    }

    &_position_left text {
      color: var(--color-typo-warning);
    }

    &_position_right text {
      color: var(--color-typo-normal);

      transform: translateX(5px);
    }

    &_position_right path {
      stroke-width: 0;
    }
  }
}
