@import url('./react-data-grid.css');

.ExcelTable {
  height: 100%;

  &__Header {
    padding: 0;

    align-items: center;

    font-size: var(--size-text-xs);
    font-weight: 400;

    color: var(--color-typo-primary);
    background: var(--color-bg-default);
    border-color: var(--color-bg-border);

    &.is-renaming {
      margin: -1px -1px 0 0;

      box-sizing: border-box;

      border: 2px solid var(--color-control-bg-border-focus);
      border-radius: var(--control-radius);
      box-shadow: 0 1px 1px rgba(var(--color-nums-shadow), 0.25),
        0 0 3px rgba(var(--color-nums-shadow), 0.25),
        0 2px 6px rgba(var(--color-nums-shadow), 0.25);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__Cell {
    border-top-color: var(--color-bg-border);
    border-left: none;
    border-right: none;
    border-bottom-color: var(--color-bg-border);

    &__Value.is-error {
      color: var(--color-typo-alert);
    }

    &__Id {
      text-align: end;

      background-color: var(--color-bg-default);

      border-right: solid 3px var(--color-bg-border);

      .is-odd {
        background-color: rgb(60, 64, 67);
      }
    }

    &__Splitter {
      background-color: var(--color-bg-secondary);
      border-right: solid 3px var(--color-bg-border);
    }

    &__Tooltip {
      --tooltip-bg-color: var(--color-bg-alert);
      --color-typo-primary: #fafafa;
      font-size: var(--size-text-xs);

      color: var(--color-typo-primary);
    }
  }
}

.HeaderBefore {
  opacity: 0.7;
}
