@import url('./react-data-grid.css');

.ExcelTable {
  &__Header {
    padding: 0;

    align-items: center;

    font-size: 12px;
    font-weight: 400;

    color: rgba(250, 250, 250, 0.8);
    background-color: #22272b;
    border-color: rgba(255, 255, 255, 0.2);

    &.is-renaming {
      margin: -1px -1px 0 0;

      box-sizing: border-box;

      border: 2px solid #0091e6;
      border-radius: 2px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 0 3px rgba(0, 0, 0, 0.25),
        0 2px 6px rgba(0, 0, 0, 0.25);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__Cell {
    border-top-color: rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(255, 255, 255, 0.2);

    &__Value.is-error {
      color: var(--color-typo-alert);
    }

    &__Id {
      text-align: end;

      border-right: solid 3px rgba(255, 255, 255, 0.2);
    }

    &__Splitter {
      background-color: #161a1d;
      border-right: solid 3px rgba(255, 255, 255, 0.2);
    }
  }
}

.HeaderBefore {
  opacity: 0.7;
}

/* TODO: fix it */
.Tooltip {
  .Tooltip-Background {
    background: var(--color-bg-alert);
  }

  .Tooltip-Arrow {
    border-right-color: var(--color-bg-alert);
  }

  .Tooltip-Content {
    color: var(--color-typo-primary);
  }
}
