.ContextMenu {
  z-index: 100;

  margin: 2px 0 0;
  padding: 5px 0;

  min-width: 160px;

  &__Item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__Splitter {
    margin: var(--space-s);

    border-top: solid var(--control-border-width) var(--color-bg-border);
  }

  &__Icon {
    position: absolute;

    margin-left: var(--space-xs);
  }

  &__Title {
    padding: var(--space-s) var(--space-3xl);
  }
}
