.Row {
    color: var(--color-font);
    text-overflow: ellipsis;
}

.Row:hover {
    background-color: #54585b;
}

.RowEven {
    background-color: var(--color-default);
}

.RowOdd {
    background-color: #2f3438;
}
