.StyledRow {
  text-overflow: ellipsis;

  color: var(--color-typo-primary);

  &__Even {
    background-color: var(--color-bg-default);
  }

  &__Odd {
    background-color: var(--color-bg-stripe);
  }
}

.StyledRow:hover {
  background-color: var(--color-bg-ghost);
}
