/* You haven't to change colors to rgba, because it create bug with alpha channel at ID column */
.StyledRow {
  text-overflow: ellipsis;

  color: var(--color-typo-primary);

  &__Even {
    background-color: var(--color-bg-default);
  }

  &__Odd {
    background-color: rgb(60, 64, 67);
  }
}

.StyledRow:hover {
  background-color: rgb(75, 81, 84);
}
