.Flex {
  display: flex;
  align-items: stretch;
}

.Grid {
  position: relative;

  margin-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.Form {
  margin: var(--space-l) 0;
}

.TextField__error {
  border-color: var(--color-bg-alert);
}

.Field {
  position: relative;
}

.Field__Label {
  margin-bottom: 5px;
}

.Field__ErrorMessage {
  position: absolute;
  bottom: -30px;

  font-size: 10px;
  line-height: 12px;

  color: #ed4545;
}
