.Flex {
  display: flex;
  align-items: stretch;
}

.Grid {
  display: grid;
  grid-template: 100px 1fr / 1fr 1fr;
}

.Form {
  margin: var(--space-l) 0;
}

.TextField__error {
  border-color: var(--color-bg-alert);
}
