.Root {
  padding: var(--space-xs) 0;

  font-size: var(--size-text-xs);

  color: var(--color-typo-primary);
  background-color: var(--color-bg-default);
  border: none;
  caret-color: var(--color-typo-primary);
}

.Root:focus {
  outline: none;
}
