.EditableText {
  display: flex;
  align-items: baseline;
  height: 25px;

  &:hover &__Icon_Wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  &__Prefix {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--color-typo-secondary);

    &.is-edit {
      font-size: 12px;
    }
  }

  &__Icon {
    width: 15px;
    height: 15px;
  }

  &__Icon_Wrap {
    outline: none;
    border: none;
    color: var(--color-control-typo-ghost);
    display: none;
    cursor: pointer;
    background: var(--color-control-bg-ghost);
    margin-left: 5px;
    padding: 5px;

    &.is-edit {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }

  &__Input {
    width: 25px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-typo-secondary);
    background: transparent;
    border: none;
    outline: none;
    cursor: default;
    pointer-events: none;
    height: fit-content;

    &.is-edit {
      margin-left: 5px;
      font-size: 12px;
      cursor: text;
      pointer-events: all;
    }
  }
}
