.EditableText {
  display: flex;
  align-items: baseline;

  height: 25px;

  &:hover &__Icon_Wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  &__Prefix {
    display: flex;

    align-items: center;

    font-size: var(--size-text-s);
    line-height: var(--line-height-text-s);

    color: var(--color-typo-secondary);

    &.is-edit {
      font-size: var(--size-text-xs);
    }
  }

  &__Icon {
    width: 15px;
    height: 15px;
  }

  &__Icon_Wrap {
    margin-left: 5px;

    padding: 5px;

    display: none;

    cursor: pointer;

    color: var(--color-control-typo-ghost);

    background: var(--color-control-bg-ghost);
    border: none;
    outline: none;

    &.is-edit {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
  }

  &__Input {
    display: flex;

    width: 25px;
    height: fit-content;

    font-size: var(--size-text-s);
    line-height: var(--line-height-text-s);

    cursor: default;

    pointer-events: none;

    color: var(--color-typo-secondary);

    background: transparent;

    border: none;

    outline: none;

    &.is-edit {
      margin-left: 5px;

      font-size: var(--size-text-xs);

      cursor: text;

      pointer-events: all;
    }
  }
}
