.DistributionChart {
  background-color: #16191c;

  &__Percentiles {
    &__Text {
      font-size: 12px;
      fill: #fafafa;
    }
  }

  &__ProjectionLines {
    fill: none;
    stroke: #e68200;
    stroke-width: 1;

    opacity: 0.3;
  }

  &__Grid {
    line {
      stroke: #fff;
      stroke-dasharray: 1, 3;
      stroke-width: 1;
      stroke-opacity: 0.1;
      stroke-linecap: round;
    }

    text {
      font-size: 12px;

      color: rgba(246, 251, 253, 0.6);

      transform: translateY(10px);
    }

    path {
      stroke-width: 0;
    }
  }

  &__Axis {
    fill: none;

    .domain {
      stroke: rgba(246, 251, 253, 0.28);
    }

    line {
      stroke: rgba(246, 251, 253, 0.28);
    }

    text {
      font-size: 12px;
      line-height: 17px;
    }

    &__Left text {
      color: #e68200;
    }

    &__Right text {
      color: #33b4ff;

      transform: translateX(5px);
    }

    &__Right path {
      stroke-width: 0;
    }
  }
}
