.chart {
  background-color: #16191c;
}

.grid line {
  stroke: #fff;
  stroke-dasharray: 1, 3;
  stroke-width: 1;
  stroke-opacity: 0.1;
  stroke-linecap: round;
}

.grid text {
  font-size: 12px;

  color: rgba(246, 251, 253, 0.6);

  transform: translateY(10px);
}

.grid path {
  stroke-width: 0;
}

.axis {
  fill: none;

  .domain {
    stroke: rgba(246, 251, 253, 0.28);
  }

  line {
    stroke: rgba(246, 251, 253, 0.28);
  }

  text {
    font-size: 12px;
    line-height: 17px;
  }

<<<<<<< HEAD
  &_left text {
    color: #e68200;
  }

  &_right text {
    color: #33b4ff;

    transform: translateX(5px);
  }

  &_right path {
=======
  &__left text {
    color: #e68200;
  }

  &__right text {
    color: #33b4ff;

    transform: translateX(5px);
  }

  &__right path {
>>>>>>> feature(chart): update chart styles
    stroke-width: 0;
  }
}
