.Root {
  padding: 0 8px;

  display: flex;
  align-items: center;

  background-color: inherit;
  opacity: 1;
  /*
  stylelint-disable-next-line
  cursor: move;
  */
}

.Icon {
  margin-right: 6px;
}

.WrapperIcon {
  display: flex;
}

.HeaderId {
  padding-right: 8px;

  display: flex;

  color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

.CalcParamHeader {
  justify-content: space-between;
}

.WrapperText {
  display: flex;
  overflow: hidden;

  text-overflow: ellipsis;
}

.IsDragging {
  opacity: 0.5;
}

.IsOver {
  background-color: rgba(0, 150, 235, 0.4);
}
