.Root {
    display: flex;
    padding: 0 8px;
    align-items: center;
    background-color: inherit;
    opacity: 1;
    /*cursor: move;*/
}

.Icon {
    margin-right: 6px;
}

.WrapperIcon {
    display: flex;
}

.WrapperText {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}

.IsDragging {
    opacity: 0.5;
}

.IsOver {
    background-color: rgba(0, 150, 235, 0.4);
}
