.ProjectsPage {
  padding: var(--space-xl) var(--space-s);
}

.Headtext {
  margin: 0;
  padding: 0 0 var(--space-s);

  font-size: var(--size-text-3xl);
  font-weight: 700;
  font-style: normal;

  color: var(--color-typo-primary);
}

.FlexContainer {
  display: flex;
}

.FlexContainerIn {
  display: flex;
}

.ProjectList {
  padding: var(--space-s) 0;

  overflow-y: scroll;

  height: 60vh;

  list-style-type: none;

  color: var(--color-typo-primary);
}

.ProjectList li {
  margin: 0;
  padding: var(--space-s);

  cursor: pointer;
}

.ProjectList li:nth-child(even) {
  background: var(--color-bg-stripe);
}

.ProjectList li:nth-child(odd) {
  background: var(--color-bg-default);
}

.NavWrapper {
  margin-right: var(--space-3xl);

  width: 302px;
}

.TextField {
  margin-right: var(--space-3xl);
}
