.ProjectsPage {
  padding: 24px 12px;
}

.Headtext {
  margin: 0;
  padding: 0 0 12px;

  font-size: 32px;
  font-weight: 700;
  font-style: normal;

  color: #fafafa;
}

.FlexContainer {
  display: flex;
}

.FlexContainerIn {
  display: flex;
}

.ProjectList {
  padding: 12px 0;

  overflow-y: scroll;

  height: 60vh;

  list-style-type: none;

  color: #fafafa;
}

.ProjectList li {
  margin: 0;
  padding: 12px;

  cursor: pointer;
}

.ProjectList li:nth-child(even) {
  background: rgba(246, 251, 253, 0.06);
}

.ProjectList li:nth-child(odd) {
  background: #23272b;
}

.NavWrapper {
  margin-right: 40px;

  width: 302px;
}

.TextField {
  margin-right: 40px;
}
