.ProjectsPage {
    padding: 24px 12px;
}
.Headtext {
    padding:0;
    margin:0;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #fafafa;
}
.FlexContainer {
    display: flex;
}
.FlexContainerIn {
    display: flex;
}
.ProjectList {
    padding: 12px 0;
    list-style-type: none;
    color: #fafafa;
    height: 60vh;
    overflow-y: scroll;
}
.ProjectList li {
    cursor: pointer;
    margin: 0;
    padding: 12px;
}
.ProjectList li:nth-child(even) {
    background: rgba(246, 251, 253, 0.06);
}
.ProjectList li:nth-child(odd) {
    background: #23272b;
}
.NavWrapper {
    width: 302px;
    margin-right: 40px;
}
.TextField {
    margin-right: 40px;
}
