.RB-App-Wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.RB-App {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;

  width: 100vw;
  min-height: 100%;

  color: var(--color-typo-primary);
  background-color: var(--color-bg-default);
}

.Header {
  padding: var(--space-xs) var(--space-m);

  display: flex;
  align-items: center;

  background: var(--color-bg-secondary);

  a {
    margin-right: var(--space-xs);

    display: inline-block;

    width: var(--control-box-size-m);
    height: var(--control-box-size-m);
  }

  span {
    font-family: Arial, serif;
    font-size: var(--size-text-s);
    line-height: var(--line-height-text-2xs);
    text-transform: uppercase;

    color: var(--color-typo-primary);
  }
}
