.App {
  display: flex;
  overflow: hidden;

  flex-direction: column;

  width: 100vw;
  height: 100vh;

  color: #fafafa;
  background-color: #22272b;
}

.Header {
  padding: 9px 16px;

  display: flex;
  align-items: center;

  background: #16191c;
}

.Header a {
  margin-right: 6px;

  display: inline-block;

  width: 16px;
  height: 16px;
}

.Header span {
  font-family: Arial, serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #fafafa;
}
