.RecentlyEditedAlert {
  z-index: 2;

  margin-left: auto;

  max-width: 600px;

  &__SnackBar {
    height: 40px;

    & .SnackBar-Item {
      margin: 0;

      padding: 8px;

      height: 40px;
    }

    & .SnackBar-Message {
      font-size: 12px;
    }

    & .SnackBar-Content {
      align-self: center;
    }
  }
}
