.Root {
  padding: 0 var(--space-xs);

  display: flex;
  align-items: center;

  background-color: inherit;
  opacity: 1;
  /*
  stylelint-disable-next-line
  cursor: move;
  */
}

.Icon {
  margin-right: var(--space-xs);
}

.WrapperIcon {
  display: flex;
}

.HeaderId {
  padding-right: var(--space-xs);

  display: flex;

  color: var(--color-typo-ghost);
  opacity: 0.8;
}

.CalcParamHeader {
  justify-content: space-between;
}

.WrapperText {
  display: flex;
  overflow: hidden;

  text-overflow: ellipsis;
}

.IsDragging {
  opacity: 0.5;
}

.IsOver {
  background-color: var(--color-control-bg-focus);
}
