.Root {
  padding-left: var(--space-xs);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: inherit;
  opacity: 1;
}

.Icon {
  margin-right: var(--space-xs);
}

.WrapperIcon {
  display: flex;
}

.HeaderId {
  padding-right: var(--space-xs);

  display: flex;

  color: var(--color-typo-ghost);
  opacity: 0.8;
}

.CalcParamHeader {
  justify-content: space-between;
}

.WrapperText {
  display: flex;
  overflow: hidden;

  text-overflow: ellipsis;
}

.IsDragging {
  opacity: 0.5;
}

.IsOver {
  background-color: var(--color-control-bg-focus);
}

.Error {
  background-color: var(--color-bg-alert);
}
