.Tabs {
  padding: 8px;
}

.Header {
  padding: 0 16px;
}

.Content {
  padding: 8px 16px 0;

  display: flex;

  justify-content: space-between;
}

.ButtonStructure {
  margin-right: 12px;
}

.ButtonData {
  margin-right: 12px;
}

.LeftPanel {
  padding-right: 8px;

  display: flex;

  height: 100vh;

  border: none;
  flex: 1 1;
}

.RightPanel {
  max-width: 400px;
}
