.SchemePage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Tabs {
  padding: var(--space-xs);
}

.Header {
  padding: var(--space-xs) var(--space-m);
}

.Content {
  display: flex;
  flex: 1;

  justify-content: space-between;
}

.ButtonStructure {
  margin-right: var(--space-s);
}

.ButtonData {
  margin-right: var(--space-s);
}

.LeftPanel {
  display: flex;

  border: none;
  flex: 1;
}

.RightPanel {
  padding: var(--space-s);

  overflow-y: auto;

  max-width: 400px;
  height: 100vh;
}
