.SchemePage {

}

.Tabs {
    padding: 8px;
}

.Header {
    padding: 0px 16px;
}

.Content {
    display: flex;
    padding: 8px 16px 0;
    justify-content: space-between;
}

.ButtonStructure {
    margin-right: 12px;
}

.ButtonData {
    margin-right: 12px;
}

.LeftPanel {
    display: flex;
    height: 100vh;
    flex: 1 1;
    padding-right: 8px;
    border: none;
}

.RightPanel {
    max-width: 400px;
}
